################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Interview prep
/All Visual Studio Tasks
/PranayGaynarResume .pdf
/PRANAY GAYNAR ResumeScore-45.docx
/PRANAY GAYNAR Dem02.docx
/Pranay Gaynar resume1.pdf
/TaskComp.zip
