################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Interview prep
/All Visual Studio Tasks
/PranayGaynarResume .pdf
/PRANAY GAYNAR ResumeScore-45.docx
/PRANAY GAYNAR Dem02.docx
/Pranay Gaynar resume1.pdf
/TaskComp.zip
/pranay gaynar resume.docx
/pranay gaynar resume.docx
/Pranay photo.jfif
/Pranay_Gaynar.docx
/Train Ticket reservation System Project.docx
/~$ain Ticket reservation System Project.docx
